<h1><%= I18n.t('page_title.edit_page_title') %></h1>

<%= render "form", book: @book %>

<br>

<nav class="page-nav">
  <%= link_to I18n.t('link.show_detail_post_link'), @book %> |
  <%= link_to I18n.t('link.back_to_books_link'), books_path %>
</nav>
