<div>
  <p>
    <strong><%= Report.human_attribute_name(:title) %></strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= Report.human_attribute_name(:content) %></strong>
    <%= report.content %>
  </p>
</div>
